.Banner{
    background-color: rgb(242, 241, 241, 0.3);
    padding-block: 100px;
    h2{
        font-size: 50px;
        font-weight: 700;
    }
    p{
        padding-inline: 40px;
        font-size: 25px;
    }
    button{
        font-size: 22px;
        border-radius: 10px;
    }
}

.Item{
    .card-header{
        background-color: rgb(189, 189, 189);
    }
    .card-body{
        padding-bottom: 50px;
    }
}

.Body{
    .col-2{
        margin-right: 94px;
    }
}