.Header{
    color: white;
    h3{
        margin-top: 0;
        margin-bottom: 0;
        padding-block: 10px;
        &:hover{
            cursor: pointer;
        }
    }
    a{
        text-decoration: none;
        margin-left: 20px;
        font-size: 17px;
        color: gray;
        transition: 0.3s;
        &.active{
            color: white;
        }
        &:hover{
            color: white;
        }
    }
}